<div class="namecard-container">
  <div class="namecard-above-spacing"></div>
  <div class="namecard">
    <div class="namecard-left">
      <img style="width: auto; height: 100%;" src="../../assets/kaiyao.jpg">
    </div>
    <div class="namecard-right">
      <div class="namecard-text">
        <h4> <span>{{ name }} </span> </h4>
        <h6> <span>{{ description1 }} <br> {{ description2}} <br> {{ description3 }} </span></h6>
        <p style="margin: 0 auto">&nbsp;</p>
        <h6> <span> Email </span></h6>
        <p> <span> {{ email }} </span> </p>

        <h6> <span> Phone </span></h6>
        <p> <span> {{ phone }} </span> </p>

        <h6> <span> Full resume </span></h6>
        <a href="https://drive.google.com/open?id=0B5KvxbfUzO_wSEtLc1ZZak5OdUk"><mat-icon color="#242c5c">library_books</mat-icon></a>
      </div>
    </div>
  </div>
  <div class="namecard-contact-bar">

  </div>
</div>
