<div appScrollSlowly class="namecard-container">
  <div class="namecard-above-spacing"></div>
  <div class="namecard">
    <div [@slideInFromLeft] class="namecard-left">
      <img style="max-width: 100%; max-height: 100%; margin: auto" src="../../assets/kaiyao.jpg">
    </div>
    <div [@slideInFromRight] class="namecard-right">
      <div class="namecard-text">
        <h4> <span>{{ name }} </span> </h4>
        <h6> <span>{{ description1 }} <br> {{ description2}} <br> {{ description3 }} </span></h6>
        <p style="margin: 0 auto">&nbsp;</p>
        <h6 style="font-weight: bold"> <span> Email </span></h6>
        <p> <span> {{ email }} </span> </p>

        <h6 style="font-weight: bold"> <span> Phone </span></h6>
        <p> <span> {{ phone }} </span> </p>

        <h6 style="font-weight: bold"> <span> Full resume </span></h6>
        <a href="https://drive.google.com/open?id=0B5KvxbfUzO_wSEtLc1ZZak5OdUk"><mat-icon>library_books</mat-icon></a>
      </div>
    </div>
  </div>
  <div class="namecard-contact-bar">
    <div [@slideInFromBottom] class="namecard-contact">
      <a class="social-link" href="https://www.linkedin.com/in/kai-yao-161a54119/">
        <img src="../../assets/linkedin.png">
      </a>
      <a class="social-link" href="https://github.com/yaokai1117">
        <img src="../../assets/github.png">
      </a>
      <a class="social-link" href="https://www.facebook.com/kai.yao.1044">
        <img src="../../assets/facebook.png">
      </a>
      <a class="social-link" href="https://plus.google.com/u/1/109236367865669570866">
        <img src="../../assets/google-plus.png">
      </a>
    </div>
  </div>
</div>
<div class="namecard-intro-bar">
  <div class="namecard-intro">
    <h4>
      <span> Hello! I'm Kai</span>
    </h4>
    <p>
      <span>
        I'm a Software Engineer. Currently I am pursuing my master degree in Software Engineering at CMU. I like coding. I have interest in Web Development and AI.
      </span>
    </p>
  </div>
</div>
